.navbar-default{
	background-color: rgba(0, 172, 122, 0.8)!important;
  border-color: rgba(0, 172, 122, 0.8)!important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand{
	color: white!important;
	font-size: 25px!important;
}

* {
	font-family: 'Raleway', sans-serif!important;
}

body{
	height: 100%;
	margin: 0;
	font-size: 17px!important;
	overflow-x: hidden;
}

p{
	font-family: 'Open Sans', sans-serif!important;
	color: #838282;
}

h1{
	font-size: 14px!important;
}

.fill{
	width: 100%;
	height: 100%;
}


#ap_carousel,#carousel,#header,#services,#footer,#about{
	position: relative;
	width: 100%;
	overflow: hidden;
	display:inline-block;
}

#header{
	min-height: 52px;
}

#footer{
	text-transform: uppercase;
	background: rgba(0, 172, 122, 0.8);
	color: #fff;
	float: left;
	height: 50px;
	width: 100%;
	text-align: center;

	-webkit-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	-moz-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	box-shadow: 0 1px 10px rgba(0,1,1,.2);
}

.bg_animate,{
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}

.bg{
	-o-transition: ease-in .2s;
  -ms-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.bg{
	margin-bottom: 10px;
	border-bottom: solid #00d999;
}

.bg:hover{
	border-width: 20px;
}

.bg_animate:hover{
	background-color: white;
}

#box_480{
	height: 480px;
}

#box_350{
	height: 350px;
}

#box_200{
	height: 300px;
}


/*Header*/

#navigation ul li{
	-webkit-transition: background-color .6s;
	-moz-transition: background-color .6s;
	-o-transition: background-color .6s;
	-ms-transition: background-color .6s;
	transition: background-color .6s;
}

#navigation ul li:hover{
	background-color: #F2F2F2;
}

#navigation ul li a:hover{
	color: black!important;
}

#navigation ul li a{
	color: white!important;
	font-weight: 650;
}

input[type=search]{
	background: #ededed url(../images/search-icon.png) no-repeat 9px center;
	background-color: #fff;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;

	-webkit-border-radius: 10em;
	-moz-border-radium: 10em;
	border-radius: 10em;
}

#search_bar{
 width: 50%;
-moz-transition: .5s ease;
-webkit-transition: .5s ease;
-o-transition: .5s ease;
-ms-transition: .5s ease;
transition: .5s ease;
}

#search_bar:focus {
width: 100%;
outline: none;
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
box-shadow: inset inset 0 0 5px rgba(0,0,0,0.5);
}

.notransition {
	width: 100%!important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


/*Carousel*/
#ap_carousel{
	margin-top: -8px;
	margin-bottom: -71px;
}

#ap_carousel .item img{
	display: block;
	width: 100%;
	height: auto;
}

.owl-buttons, .owl-buttons, .owl-pagination{
	visibility: hidden;
}

#carousel{
	text-align: center;
}

#book_btn{
	position: absolute!important;
	width: 20%;
	margin-top: -50px;

}

/*Carousel end*/

/*About*/
	.title{
		font-weight: bold;
		font-size: 40px;
	}

	.title-line{
		background-color: #898989;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
	}

	.title-area span{
		color: rgba(0, 172, 122, 0.8);
	}


/*About end*/


/*Services*/
#services{
	background-color: #F6F6F6;
}
/*book*/
/*book end*/

/*Services end*/


/*Modals*/

.ap-btn-standard{
	width: 100%;
}

.ap-btn-half{
	width: 50%;
	display: block;
	margin: 0 auto!important;
}

/*Modals*/

/*extra control*/
.hide{
	visibility: hidden;
}

.rmv-left-padding{
	padding-left: 0!important;
}

.rmv-right-padding{
	padding-right: 0!important;
}

.modal-btn-center{
	text-align: center!important;
}

/*end/
